.summary-overview {
  margin-bottom: 50px;
}

.summary-title {
  margin-bottom: 30px;
}

.summary-list {
  display: flex;
  font-size: 18px;
}

.summary-list-empty {
  display: flex;
  font-size: 18px;
  width: 80%;
}

.summary-exercise {
  width: 50%;
}

.summary-button {
  border-radius: 20px;
  padding: 10px 40px;
  border: none;
  background: linear-gradient(
    to left,
    rgb(209, 44, 71) 0%,
    rgba(172, 15, 41, 0.7) 100%
  );
  color: rgb(221, 219, 219);
  font-weight: 700;
}

.summary-button:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0 0.2rem 1rem 0 rgba(177, 154, 148, 0.7);
}

@media screen and (max-width: 640px) {
  .summary-title {
    font-size: 24px;
  }

  .summary-list {
    font-size: 14px;
  }

  .summary-list-empty {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .summary-title {
    font-size: 20px;
  }

  .summary-list {
    font-size: 12px;
  }

  .summary-list-empty {
    font-size: 12px;
  }
}
